:root {
  --primary-color: #f1315e;
  --second: #fa698b;
  --third: #f3c9d3;
}
main {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
nav,
footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.navbar-text {
  display: flex;
  justify-content: end;
}
.About-section h1 {
  text-align: center;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 20px 0;
}

.about-paragraphs p {
  margin: 10px 0;
}
.about {
  text-align: justify;
  margin-left: 10px;
}

/*footer*/
.footer {
  background-color: #f3c9d3;
  padding: 18px 0;
  border-top: 1px solid #fdfdfd;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.slogan {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.footer ul {
  list-style: none;

  text-align: center;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  color: #fa698b;
  text-decoration: none;
}

.footer a:hover {
  color: #f1315e;
}

.copyright {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 20px;
}
.header {
  text-align: center;
}
.newsletter {
  text-justify: left;
  text-align: center;
  margin-top: 0;
  padding-top: 0%;
}
.news {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.subscribeBtn {
  background: var(--second) !important;
}
