:root {
  --primary-color: #f1315e;
  --second: #fa698b;
  --third: #f3c9d3;
}
main {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
nav,
footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.navbar-text{
  display: flex;
  justify-content: end;
}
.i2 {
  filter: brightness(50%);
}
.i3 {
  filter: brightness(50%);
}
.i1 {
  filter: brightness(95%);
}
h5 {
  font-size: 60px;
  font-weight: 600;
}
.img {
  font-size: 25px;
}
.community-title{
  padding-bottom: 20px;
  padding-top: 50px;
  text-align: center;
}
.our-motive,
.community {
  text-align: center;
  padding: 18px 0;
  margin-top: 30px;
}
.content{
  font-size: 18px;
  font-weight: 100px;
  text-align: justify;
}
.motive {
  font-size: 18px;
  color: #444444;
  padding: 10px 0px;
}
.attribute-tab {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}
.title {
  font-weight: 500;
}
.attributes {
  text-align: center;
}
.attribute-bar {
  padding: 18px 0px;
  margin-bottom: 30px;
}
.attribute {
  background-color: var(--second) !important;
  border: var(--second) !important;
  padding: 10px !important;
}
.commbtn{
  text-align: center;
}
.colour{
  background-color: var(--third);
}
.Color{
  color:var(--primary-color);
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 50%;
  margin: 0 auto;
  max-height: 50%;
}
.card-text{
  text-align: justify;
}
.card-title{
  text-align: center;
}
.card {
  max-width: 400px;
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 1px solid var(--primary-color);
  border-radius: 2%;
}
.carousel-inner {
  padding: 1em;
}
.Testimonials .carousel-control-prev,
.Testimonials .carousel-control-next {
  background-color: #e1e1e1;
  width: 15vh;
  height: 5vh;
  border-radius: 10%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 24px) {
    .card img {
      height: 11em;
    }
 }
/*footer*/
.footer {
  background-color: #f3c9d3;
  padding: 18px 0;
  border-top: 1px solid #fdfdfd;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.slogan {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.footer ul {
  list-style: none;

  text-align: center;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  color: #fa698b;
  text-decoration: none;
}

.footer a:hover {
  color: #f1315e;
}

.copyright {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 20px;
}
.header {
  text-align: center;
}
.newsletter {
  text-justify: left;
  text-align: center;
  margin-top: 0;
  padding-top: 0%;
}
.news {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.subscribeBtn {
  background: var(--second) !important;
}
 /*Blog Post*/
 .recommended .title{
    text-align: center;
 }