body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.loginbtn {
    color: #f8f9fa;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section {
    flex: 1;
    padding: 90px;
    background: linear-gradient(217deg, rgba(244, 194, 219, .8), rgba(255, 0, 0, 0) 60.71%),
        linear-gradient(127deg, rgba(247, 59, 129, 5.8), rgba(0, 255, 0, 0) 2500.71%),
        linear-gradient(336deg, #f8047ecc, rgba(0, 0, 255, 0) 50.71%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-section h1 {
    margin: -30px;
    font-weight: normal;
    font-size: 60px;
    font-family: Libre Bodoni;
}

.welcome-section h2 {
    margin: 0;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 49px;
    font-family: Libre Bodoni;
}

.welcome-section p {
    width: 750px;
    margin: 20px;
    margin-top: 50px;
    font-family: Source Sans Pro;
    font-size: 23px;
}

.login-section {
    flex: 1;
    padding: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-family: "Gill Sans", sans-serif;
    color: #F7418F;
}

.login-section form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.login-section form button a {
    color: white;
    font-size: 16px;
}

.login-section input[type="text"],
.login-section input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-section .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #F7418F;


}

.login-section button {
    padding: 15px;
    background-color: rgb(247, 59, 129);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-section button:hover {
    background-color: #ff99cc;
}

.login-section p {

    margin-top: 20px;
    margin-right: 20px;
    color: #F7418F;
    text-align: center;
    display: block;
    justify-content: center;
    position: absolute;
    width: 27%;
    bottom: 10px;
    white-space: nowrap;
}

.login-section .forgot-password,
.signup {
    color: #F7418F;
    text-decoration: none;

}

.login-section .home {
    text-align: center;
    color: #F7418F;
}

.login-section a {
    text-decoration: none;
}

.login-section .loginbtn {
    color: #f8f9fa;
    text-decoration: none;
}

.login-section a:hover {
    text-decoration: underline;
}