:root {
    --primary-color: #f1315e;
    --second: #fa698b;
    --third: #f3c9d3;
}

main {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}
.boxs{
  display: flex;
  gap: 2rem;
}
@media (min-width: 40em){
  .boxs{
    display: block;
  }
}


nav,
footer {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.navbar-text {
    display: flex;
    justify-content: end;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.site-header {

    background: linear-gradient(217deg, rgba(244, 194, 219, .8), rgba(255, 0, 0, 0) 60.71%),
        linear-gradient(127deg, rgba(247, 59, 129, 5.8), rgba(0, 255, 0, 0) 2500.71%),
        linear-gradient(336deg, #f8047ecc, rgba(0, 0, 255, 0) 50.71%);
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0;

}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.site-title {
    margin: 0;
    font-size: 35px;
    color: white;
    font-family: Libre Bodoni;

}

.site-nav ul {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    display: inline-block;
}

.site-nav li {
    display: inline;
    margin: 0 15px;
}

.site-nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: "Ubuntu", sans-serif;
}

.site-nav a:hover {
    color: white;
    background-color: #75023bcc;
    border-radius: 2.5px;
}

.new img {
    margin: 20px;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    float: left;
}

.text h1 {
    text-align: center;
    font-size: 50px;
    font-family: Libre Bodoni;
}

.text p {
    text-align: center;
    font-size: 19px;
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
}

.tagline p {
    margin-top: 70px;
    font-size: 21px;
    color: black;
}

.babies-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.babies-section h1 {
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    margin: 15px;

}

.babies-section {
    background-color: white;
    width: 100%;
    height: 55vh;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(247, 59, 129, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.babies-section p {
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
    max-width: 1000px;
    font-family: "Ubuntu", sans-serif;
}

.babies-section .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
}

.babies-section .buttons a {
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    font-family: "Ubuntu", sans-serif;

}

.babies-section .buttons a:hover {
    background-color: #f3c9d3;
}

.contain {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px) {
  .contain{
    flex-direction: column;
    height: 100%;
  }
  .top-row{
    flex-direction: column;
    height: 100%;
  }
  .bottom-row{
    flex-direction: column;
    height: 100%;
  }
 }

.top-row,
.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.boxs {
    width: 90vh;
    height: 76vh;
    padding: 20px;
    border: 1px solid #f7f0f1;
    border-radius: 10px;
    margin: 10px;
    background: #f3c9d3;
    color: white !important;
    font-weight: 80;
    text-transform: none;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

.boxs:hover {
    color: #f1315e !important;
    font-weight: 550 !important;
    letter-spacing: 0.1px;
    background: #f7f0f1;
    transition: all 0.5s ease 0s;
    transition-timing-function: ease-in;
    box-shadow: rgba(128, 26, 50, 0.24) 0px 3px 8px;
}

.boxs h1 {
    font-family: "Ubuntu", sans-serif;
}

.boxs p {
    font-weight: 500;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
}

.sleepblock p {
    text-align: center;
    margin: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}

.sleeptracker {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(247, 59, 129, 0.3);
    width: 300px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 80px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #fa698b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 7, 62);
}

#sleep-entries {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.videos1 {
    margin: 50px;
    margin-bottom: 50px;

}

footer {
    background-color: rgb(250, 239, 243);
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section .about h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Libre Bodoni;
}

.footer-section .about ul li a {
    color: rgb(247, 59, 129);
}

.footer-section .link h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Libre Bodoni;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;

}

.footer-section .socials ul {
    display: flex;
    justify-content: right;
    padding: 0px;
    font-size: 10px;
}

.footer-section .socials ul li {
    margin: 10px;
}

.footer-section .socials ul li a {
    color: rgb(247, 59, 129);
    text-decoration: none;
    font-size: 10px;
}

.footer-bottom p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.vertical-line {
    width: 2px;
    height: 20vh;
    background-color: #ccc;
}

.left-line {
    margin-left: 20px;
    /* Adjust the distance from the left edge as needed */
    margin-top: 40px;
}

.right-line {
    margin-right: 20px;
    /* Adjust the distance from the right edge as needed */
    margin-top: 40px;
}

.footer-section button {
    padding: 10px;
    background-color: rgb(247, 59, 129);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    max-width: 250px;
}

.footer-section input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 225px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

/*footer*/
.footer {
    background-color: #f3c9d3;
    padding: 18px 0;
    border-top: 1px solid #fdfdfd;
}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.footer ul {
    list-style: none;

    text-align: center;
    padding: 0;
    margin: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer a {
    color: #fa698b;
    text-decoration: none;
}

.footer a:hover {
    color: #f1315e;
}

.copyright {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 20px;
    text-align: left;
}

.header {
    text-align: center;
}

.newsletter {
    text-justify: left;
    text-align: center;
    margin-top: 0;
    padding-top: 0%;
}

.news {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.subscribeBtn {
    background: var(--second) !important;
}
